<div class="artist-albums">
    <h1>Albums for {{albums.0.artists.0.name}} :</h1>
</div>

<div class="container">

{{#each albums}}

  <div class="card"> 
    <picture> 
      <img src="{{images.0.url}}" alt="{{name}}"> 
    </picture> 

    <div class="text">
      <p>{{name}}</p>  
      <a href="/albums/tracks/{{id}}">View Tracks</a>
    </div>
  </div> 

{{/each}}

</div>